body {
    background: url(img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    min-height: 100%;
}